.navbar{
    grid-area: nb;
    background-color: rgb(8, 49, 8);
    padding-left: 10px;
    padding-top: 15px;
  }
.item a{
  color: white;
  text-decoration: none;

}
.item.active {
  color: gold;
}
.item a.activeLink {
  color: red;
}
.item.active {
  color: blue;
}