
.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas: 
  "h h" 
  "nb con";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 11fr;
  /* grid-gap: 10px; */
}
.app-wrapper-content {
  grid-area: con;
  background-color: rgba(172, 255, 47, 0.522);
}




